.logout{
	
}
.ipakita-link a{
	color: #A36200;
    font-family: new-cycle-reg;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    right: 15px;}
.link-center{
	text-align: center;
    display: inline-block;
    vertical-align: text-bottom;}
.left-item{
	border-top-left-radius: 5rem;
	border-bottom-left-radius: 5rem;}
.right-item{
	border-top-right-radius: 5rem;
	border-bottom-right-radius: 5rem;}
.nav-oval{
	border: solid .1rem #C4C4C4!important;
    border-radius: 5rem;}
    .nav .nav-item a{
    	font-family: new-cycle-reg;
    	color:#000;}

.inline-flex{
	display: inline-flex!important;}
.yunit-label{
	color: #000;
	font-family: archi;
	font-size: 16px;
	margin-top: .5rem;
	cursor: pointer;}
.hover_me:hover{
	box-shadow: 2px 2px 2px #C4C4C4;}
.gawain-thumb{
	width: 100%;
    border-radius: 15rem;
    border: solid .4rem;}
    .gawain-label{
    	color: #000;
    	font-family: new-cycle-reg;
    	font-size: 17px;}
.card{
	border-radius: 1rem!important;}
	.card .card-header{
		border: none;
		background: #FFF;
		border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0!important;}
	.card .paalala-bg{
	    margin: 0% 2% 3% 2%;
	    overflow: scroll;
	    overflow-x: hidden;}
.img-border{
	border: solid .25rem #AF8539;
  border-radius: 1rem;}
.img-play{
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
	padding:.5rem;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;}
.img-play:hover{
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
	opacity: 1;}

.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;}

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;}

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;}

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;}  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;}  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;}  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;}

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;}

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;}
  .img-hover .img-active{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .img-hover .img-inactive{
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;}
    .img-hover .img-inactive:hover{
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      opacity: 1;
    }

.bg-wrapper .user-label{
  color: #000;}

.card-header .title-card{
  font-family: 'new-cycle-bold';}



/*Marka background*/
.marka-bg{
	background-image: url(https://webdevtools101.github.io/FilipinoTek/images/backgrounds/marka.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;}


/* For Teacher */
.body-color-0{
  background-image: linear-gradient(
    to top, 
    #4a3773, #65528b, #806ea4, 
    #9c8bbe, #b9a9d8, #c9b9e2, 
    #d9c9ed, #e8d9f8, #ecdef6, 
    #f0e3f4, #f2e8f3, #f3eef3);}
.body-0{
  background: url(../../assets/images/backgrounds/teacher-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;}
  /*SIDEBAR */
  .change-ui-0 .bg-wrapper{background: #B1C9E0}
  .change-ui-0 .profile-img, .change-ui-0 .logout{border-color: #000D6E!important}
  .change-ui-0 .navigation-menu .active{background: #B1C9E0}
  .change-ui-0 li a:hover{background: #B1C9E0}
  /*Dashboard*/
  .change-ui-0 .gawain-thumb{border-color: #000D6E!important}
  .change-ui-0 .paalala-bg{background:#FFE8BA}
  .change-ui-0 .title-card{color: #000D6E}
  .change-ui-0 .nav-oval, .change-ui-0 .btn-color {background: #B1C9E0}


/* For Kinder */
.body-1{
  background: url(../../assets/images/backgrounds/kinder-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;}
  /*SIDEBAR */
  .change-ui-1 .bg-wrapper{background: #FFFFCE}
  .change-ui-1 .profile-img, .change-ui-1 .logout{border-color: #FFD900!important}
  .change-ui-1 .navigation-menu .active{background: #FFFFCE}
  .change-ui-1 li a:hover{background: #FFFFCE}
  /*Dashboard*/
  .change-ui-1 .gawain-thumb{border-color: #FFD900!important}
  .change-ui-1 .paalala-bg{background:#FFE8BA}
  .change-ui-1 .title-card{color: #EFAA00}
  .change-ui-1 .nav-oval, .change-ui-1 .btn-color {background: #F9C800}


/* For Grade 1*/
.body-color-2{
  background-image: linear-gradient(to top, 
    #ffd293, #ffd59a, #ffd8a1, 
    #ffdba8, #ffdeaf, #ffe1b6, 
    #ffe3bc, #ffe6c3, #ffe9cb, 
    #ffecd3, #fff0db, #fff3e3);}
.body-2{
  background: url(../../assets/images/backgrounds/g1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;}
  /*SIDEBAR */
  .change-ui-2 .bg-wrapper{background: #FFA34F}
  .change-ui-2 .profile-img, .change-ui-2 .logout{border-color: #F15A29!important}
  .change-ui-2 .navigation-menu .active{background: #FFA34F}
  .change-ui-2 li a:hover{background: #FFA34F}
  /*Dashboard*/
  .change-ui-2 .gawain-thumb{border-color: #F15A29!important}
  .change-ui-2 .paalala-bg{background:#FFE9BB}
  .change-ui-2 .title-card{color: #F15A29}
  .change-ui-2 .nav-oval, .change-ui-2 .btn-color {background: #FFA34F}


/* For Grade 2*/
.body-color-3{
  background-image: linear-gradient(to top, 
    #76c576, #7ec87d, #86cb84, 
    #8dce8b, #95d192, #9cd498, 
    #a3d69d, #aad9a3, #b2dca9, 
    #badeaf, #c1e1b5, #c8e4bb);}
.body-3{
  background: url(../../assets/images/backgrounds/g2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;}
  /*SIDEBAR */
  .change-ui-3 .bg-wrapper{background: #89C385}
  .change-ui-3 .profile-img, .change-ui-3 .logout{border-color: #039A00!important}
  .change-ui-3 .navigation-menu .active{background: #89C385}
  .change-ui-3 li a:hover{background: #89C385}
  /*Dashboard*/
  .change-ui-3 .gawain-thumb{border-color: #039A00!important}
  .change-ui-3 .paalala-bg{background:#C8e4BB}
  .change-ui-3 .title-card{color: #034600}
  .change-ui-3 .nav-oval, .change-ui-3 .btn-color {background: #039A00}

  /* For Grade 3*/
.body-color-4{
  background-image: linear-gradient(to top, 
    #bf9166, #c49c73, #c9a880, 
    #ceb38e, #d4be9c, #d8c6a5, 
    #ddceaf, #e2d6b9, #e6ddbf, 
    #ebe4c6, #efeccd, #f3f3d4);}
.body-4{
  background: url(../../assets/images/backgrounds/g3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;}
  /*SIDEBAR */
  .change-ui-4 .bg-wrapper{background: #E0C69E}
  .change-ui-4 .profile-img, .change-ui-4 .logout{border-color: #EDC273!important}
  .change-ui-4 .navigation-menu .active{background: #E0C69E}
  .change-ui-4 li a:hover{background: #E0C69E}
  /*Dashboard*/
  .change-ui-4 .gawain-thumb{border-color: #EDC273!important}
  .change-ui-4 .paalala-bg{background:#DCCDB0}
  .change-ui-4 .title-card{color: #85480D}
  .change-ui-4 .nav-oval, .change-ui-4 .btn-color {background: #EDC273}

  /* For Grade 4*/
.body-color-5{
  background-image: linear-gradient(to top, 
    #77c5e9, #80c9e9, #8acde9, 
    #93d0e9, #9cd4e9, #a3d7e9, 
    #a9d9e9, #b0dce9, #b6dee9, 
    #bbe0e9, #c1e2e9, #c7e4e9);}
.body-5{
  background: url(../../assets/images/backgrounds/g4.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;}
  /*SIDEBAR */
  .change-ui-5 .bg-wrapper{background: #25A0D7}
  .change-ui-5 .profile-img, .change-ui-5 .logout{border-color: #211D5B!important}
  .change-ui-5 .navigation-menu .active{background: #25A0D7}
  .change-ui-5 li a:hover{background: #25A0D7}
  /*Dashboard*/
  .change-ui-5 .gawain-thumb{border-color: #211D5B!important}
  .change-ui-5 .paalala-bg{background:#D1F0FF}
  .change-ui-5 .title-card{color: #211D5B}
  .change-ui-5 .nav-oval, .change-ui-5 .btn-color {background: #25A0D7}




/* For Grade 5*/
.body-color-6{
  background-image: linear-gradient(to right top, 
    #b58dba, #bf97c6, #c9a2d3, 
    #d2ace0, #dcb7ed, #e3bff3, 
    #e9c6f8, #f0cefe, #f5d5fe, 
    #f9dcfe, #fce3fe, #ffeaff);}
.body-6{
  background: url(../../assets/images/backgrounds/g5.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;}
  /*SIDEBAR */
  .change-ui-6 .bg-wrapper{background: #B892E0}
  .change-ui-6 .profile-img, .change-ui-6 .logout{border-color: #652D87!important}
  .change-ui-6 .navigation-menu .active{background: #B892E0}
  .change-ui-6 li a:hover{background: #B892E0}
  /*Dashboard*/
  .change-ui-6 .gawain-thumb{border-color: #652D87!important}
  .change-ui-6 .paalala-bg{background:#FFEAFF}
  .change-ui-6 .title-card{color: #652D87}
  .change-ui-6 .nav-oval, .change-ui-6 .btn-color {background: #7C4D95}

/* For Grade 6*/
.body-color-7{
  background-image: linear-gradient(to right top, 
    #f26d50, #f4785d, #f58369, 
    #f68e76, #f79883, #f8a18e, 
    #f9aa98, #f9b3a3, #fabcaf, 
    #fbc6bb, #fccfc6, #fcd9d2);}
.body-7{
  background: url(../../assets/images/backgrounds/g6.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;}
  /*SIDEBAR */
  .change-ui-7 .bg-wrapper{background: #FF7370}
  .change-ui-7 .profile-img, .change-ui-7 .logout{border-color: #80161C!important}
  .change-ui-7 .navigation-menu .active{background: #FF7370}
  .change-ui-7 li a:hover{background: #FF7370}
  /*Dashboard*/
  .change-ui-7 .gawain-thumb{border-color: #80161C!important}
  .change-ui-7 .paalala-bg{background:#FFE2E4}
  .change-ui-7 .title-card{color: #80161C}
  .change-ui-7 .nav-oval, .change-ui-7 .btn-color {background: #B51E2D}
